body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header .topo {
    background-color: #00173D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .topo img.logo {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
    width: 10%;
    margin-right: 20px; /* Espaçamento entre a imagem e as seleções */
}

header .topo nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .topo nav ul li {
    margin-left: 10px; /* Espaçamento entre as seleções */
}

header .topo nav ul li a { 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    transition: 0.4s;
}

nav li{
    margin: 0 0 0 10;
    display: inline;
}

.topo {
    padding: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tit-enc {
    text-align: center;
}

h1 {
    margin: 0;
}

.table-container {
    margin: 0 auto;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #000000;
    text-align: center;
    color: #000;
    padding: 5px;
}

th {
    color: white;
    background-color: #00173D;
}

.info-invalida{
    background-color: red;
}

.info-textoinvalido {
    color: red;
}


/* Estilos para a seção de adicionar encomendas */
.container {
    margin-top: 20px; /* Espaçamento entre as seções */
}

.container .table-container {
    width: 90%;
    margin: 0 auto;
}

.container .tit-enc {
    text-align: center;
}

/* Estilos para os campos de entrada */
.container form {
    display: flex;
    flex-direction: column;
}

.container .input-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.container .input-group {
    flex: 0 0 calc(33.33% - 10px);
}

.container .input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.container .input-group input,
.container .input-group select {
    width: 400px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button[type="submit"] {
    width: 200px;
    padding: 10px;
    background-color: #00173D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button[type="submit"]:hover {
    background-color: #003b80;
}

.error-message {
    color: red;
}

.fadeOut {
    opacity: 0;
    transition: 1s;
}

#filtrar-table {
    width: 19.5%;
    height: 35px;
    margin-bottom: 10px;
}

.invisivel{
    display: none;
}

/* Estilos para o rodapé */
footer {
    background-color: #00173D;
    color: white;
    text-align: center;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-logo img {
    margin-bottom: 20px;
}

footer .footer-links, 
footer .footer-contact, 
footer .footer-social {
    margin-bottom: 20px;
}

footer .footer-links p,
footer .footer-contact p {
    margin: 5px 0;
}

footer a {
    color: #FFCC00;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
}

footer .footer-social a {
    margin: 0 10px;
}

footer .footer-social img {
    transition: transform 0.3s;
}

footer .footer-social img:hover {
    transform: scale(1.2);
}

footer p {
    margin: 10px 10px;
}

@media (min-width: 768px) {
    footer .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .footer-logo, 
    footer .footer-links, 
    footer .footer-contact, 
    footer .footer-social {
        flex: 1;
        max-width: 250px;
    }

    footer p {
        margin: 5px 0;
    }
}

/* Estilos para o botão de adicionar encomenda */
#adicionar-encomenda {
    background-color: #00173D; /* Azul escuro */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Para centralização */
    font-size: 16px;
    margin: 20px auto; /* Centraliza o botão horizontalmente */
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

#adicionar-encomenda:hover {
    background-color: #00378f;
    transform: scale(1.05);
}

#adicionar-encomenda:active {
    background-color: #00173D;
    transform: scale(1.02);
}

/* Estilos para o botão de buscar encomendas */
#buscar-encomendas {
    background-color: #00173D; /* Azul escuro */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Para centralização */
    font-size: 16px;
    margin: 20px auto; /* Centraliza o botão horizontalmente */
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

#buscar-encomendas:hover {
    background-color: #00378f;
    transform: scale(1.05);
}

#buscar-encomendas:active {
    background-color: #00173D;
    transform: scale(1.02);
}
